
<div class="header-tool header-cart">
  <a href="{{ cart }}">
    <img src="catalog/view/theme/default/image/icons/header-cart.svg" alt="" />
    {% if total_products > 0 %}
      <span id="cart-total">{{ total_products }}</span>
    {% endif %}
  </a>
</div>