{% if categories %}
  <nav class="main-menu">
    <ul class="nav">
      {% for category in categories %}
        <li class="nav-item"><a href="{{ category.href }}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endif %} 