#product-category {
  padding-top: 55px;

  & .product-grid {
    margin-bottom: 140px;
  }

  @include respond-to(md){
    padding-top: 0;
  }
}
.category-header {
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: $main;
  text-align: center;
  margin-bottom: 59px;

  @include respond-to(md){
    display: none;
  }
}
.category-sorts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  font-size: 16px;
  line-height: 19px;
  color: $main;
  margin-bottom: 48px;

  & .category-name{
    display: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color:$main;
    text-transform: uppercase;

    @include respond-to(md){
      display: block;
    }
  }

  & .sort-links {
    & li {
      & a {
        background: url("../image/icons/sort.svg") 100% 50% no-repeat;
        padding-right: 44px;
        margin-left: 48px;
        display: block;
        color: $main;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
      }
    }

    @include respond-to(md){
      flex-direction:column;
      background: #fff;
      padding:15px 15px 7px;
      border:1px solid $gray;
      align-items: flex-end;
      position: absolute;
      right:0;
      top:100%;
      display: none;
      z-index:11;

      & li{
        margin-bottom: 7px;
      }
    }
  }

  & .input-group-addon{
    @include respond-to(md){
      display: none;
    }
  }

  @include respond-to(md){
    background: url('../image/icons/filter.png') 100% center no-repeat;
    margin-bottom: 0;
    height: 48px;

    &:hover, &:focus{
      & .sort-links{
        display: flex;
      }
    }
  }
}
.subcategory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;

  & h2 {
    font-size: 20px;
    line-height: 27px;
    color: $main;
    text-transform: uppercase;
  }

  & a {
    display: block;
    border: 1px solid #00a8de;
    border-radius: 5px;
    font-size: 20px;
    line-height: 20px;
    color: $main;
    padding: 7px 33px;
    text-decoration: none;
    transition: $transition;

    &:hover,
    &:focus {
      background: $blue;
      color: #fff;
    }
  }

  @include respond-to(md){
    margin-bottom: 10px;
  }
}
.subcategory-products {
  margin-bottom: 110px;

  @include respond-to(md){
    margin-bottom: 50px;
  }
}
