@import "./layout.scss";
@import "./category.scss";
@import "./price.scss";
@import "./images.scss";

#product-product {
  padding-top: 55px;
  padding-bottom: 315px;

  @include respond-to(md) {
    padding-bottom: 25px;
    padding-top: 0;

    & .featured-module {
      margin-top: 0px !important;
    }
  }
}

.product-images {
  display: flex;

  & .thumbnails {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
    flex-shrink: 0;

    @include respond-to(md) {
      order: 2;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  & .product-thumb {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-to(md) {
      order: 1;
    }
  }

  @include respond-to(md) {
    flex-direction: column;
  }
}

.product-options {
  color: $main;

  & .form-group {
    @include respond-to(md) {
      display: flex;
      align-items: center;
    }
  }
}

.product-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: $main;
}

.product-subtitle {
  & h4 {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: $main;
    margin-bottom: 20px;
  }
}

.product-info {
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  align-items: center;

  & div:first-child {
    margin-right: 17px;
  }

  & .new-price {
    font-size: 32px;
    line-height: 38px;
  }

  & .old-price {
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: $red;
    margin-right: 47px;
  }
}

.product-description {
  margin-top: 31px;
}

.product-information {
  &:after {
    clear: both;
    content: " ";
    display: table;
  }

  & span {
    float: left;
  }
}

.product-text {
  font-size: 16px;
  line-height: 19px;
}

.more-description {
  display: none;
}

.product-option-list {
  padding-top: 35px;

  & .control-label {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.product-option {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 27px;
  margin-bottom: 22px;

  @include respond-to(md) {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 10px;

    & .form-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 15px;

      & label {
        margin-bottom: 0;
        margin-right: 25px;
      }
    }
  }
}

.stock-available {
  font-size: 16px;
  line-height: 19px;
  color: $blue;
  background: url('../image/icons/stock-is.svg') 0 50% no-repeat;
  padding-left: 29px;
}

.stock-nothing {
  font-size: 16px;
  line-height: 19px;
  color: $red;
}

.product-buttons {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;

  & .btn-default {
    border: none;
  }
}

#product-product {
  & .featured-module {
    margin-top: 198px;
  }
}