{% if error_warning %}
  <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if payment_methods %}
  <select name="payment_method" class="form-select form-control" id="payment_method">
    <option value="0">Выберите способ оплаты</option>
    {% for payment_method in payment_methods %}
      <option value="{{ payment_method.code }}">{{ payment_method.title }}</option>
    {% endfor %}
  </select>
{% endif %}