{% if error_warning %}
  <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if shipping_methods %}
  <select name="shipping_method" class="form-select form-control" id="shipping_method">
    <option value="0">Выберите способ доставки</option>
    {% for shipping_method in shipping_methods %}
      {% for quote in shipping_method.quote %}
        <option value="{{ quote.code }}">{{ quote.title }} - {{ quote.text }}</option>
      {% endfor %}
    {% endfor %}
  </select>
{% endif %}
