#cart {
    margin-bottom: 10px;

    &>.btn {
        font-size: 12px;
        line-height: 18px;
        color: #FFF;
    }

    &.open>.btn {
        background-image: none;
        background-color: #FFFFFF;
        border: 1px solid #E6E6E6;
        color: #666;
        box-shadow: none;
        text-shadow: none;

        &:hover {
            color: #444;
        }
    }

    & .dropdown-menu {
        background: #eee;
        z-index: 1001;
        min-width: 100%;

        & table {
            margin-bottom: 10px;
        }

        & li {
            &>div {
                min-width: 427px;
                padding: 0 10px;

                @include respond-to(sm) {
                    min-width: 100%;
                }
            }

            & p {
                margin: 20px 0;
            }
        }

        @include respond-to(sm) {
            width: 100%;
        }
    }
}