.header-cart {
  & a {
    position: relative;
  }

  & span {
    position: absolute;
    color: #fff;
    background: $blue;
    font-size: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: -12px;
    right: -12px;
  }
}
