@import './cart.scss';
@import './search.scss';
@import './menu.scss';
@import './logo.scss';

#top {
    background-color: #EEEEEE;
    border-bottom: 1px solid #e2e2e2;
    padding: 4px 0px 3px 0;
    margin: 0 0 20px 0;
    min-height: 40px;

    & .container {
        padding: 0 20px;
    }

    & .btn-link {
        color: #888;
        text-shadow: 0 1px 0 #FFF;
        text-decoration: none;

        & strong {
            font-size: 14px;
            line-height: 14px;
        }

        &:hover {
            color: #444;
        }
    }

    & #form-currency {
        & .currency-select {
            text-align: left;

            &:hover {
                text-shadow: none;
                color: #ffffff;
                background-color: #229ac8;
                background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
                background-repeat: repeat-x;
            }
        }
    }

    & #form-language {
        & .language-select {
            text-align: left;

            &:hover {
                text-shadow: none;
                color: #ffffff;
                background-color: #229ac8;
                background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
                background-repeat: repeat-x;
            }
        }
    }
}

#top-links {
    padding-top: 6px;

    & li {
        color: #888;
        text-shadow: 0 1px 0 #FFF;
        text-decoration: none;
    }

    & a {
        color: #888;
        text-shadow: 0 1px 0 #FFF;
        text-decoration: none;

        &+a {
            margin-left: 15px;
        }

        &:hover {
            color: #444;
        }
    }

    & .dropdown-menu a {
        text-shadow: none;

        &:hover {
            color: #FFF;
        }
    }
}