@import "./cart.scss";
@import "./search.scss";
@import "./menu.scss";
@import "./logo.scss";

#top {
  background-color: $light-blue;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 20px 0 22px;

  @include respond-to(md) {
    display: none;
  }
}

header {
  font-weight: 500;
  box-shadow: 0px 9px 15px rgba(0, 168, 222, 0.05);
}

.header-contact-icon {
  margin-right: 13px;
}

.header-request {
  & a {
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dashed $blue;
    font-size: 16px;
    line-height: 19px;
    color: $main;
  }

  & img {
    margin-right: 21px;
  }
}

.header-logo {
  padding-top: 31px;
  padding-bottom: 35px;
  border-bottom: 1px solid $gray;
}

.header-tools{
  @include respond-to(md){
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-tool {
  margin-left: 26px;
  height: 100%;
  padding-top: 28px;

  @include respond-to(md){
    padding-top: 0;
    margin-left: 0;
  }

  &.header-cart {
    padding-top: 24px;

    @include respond-to(md){
      padding-top: 0;
    }
  }
}
