#search {
    & input {
        height: 60px;
        border: 1px solid $gray;
        font-size: 16px;
        line-height: 19px;
        color: $main;
        padding-left: 29px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    & button {
        height: 60px;
        background: $blue;
        border: none;
        width: 60px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}