@import 'header.scss';

.categories-module {
    padding-right: 32px;
    border-right: 1px solid $light-gray;
    padding-bottom: 55px;
}

.categories-menu {
    padding-left: 13px;

    & .list-group {
        border-radius: 0;

        & a {
            border: none;
            padding: 0;
            font-weight: 500;
            font-size: 15px;
            line-height: 28px;
            color: $main;
            background: url('../image/modules/chevron-right.png') 0 50% no-repeat;
            padding-left: 26px;
            transition: all 0.1s linear;
            word-wrap: break-word;

            &:hover{
                text-shadow: 0px 0px 5px rgba(0,168,222,0.9);
                color: #444444;
                font-weight: bold;
            }

            @include respond-to(lg){
                padding-left: 15px;
            }
        }

        & .list-group {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            padding-left: 36px;
            padding-top: 10px;
            padding-bottom: 14px;
            margin-top: 7px;
            margin-bottom: 8px;

            & a {
                font-size: 13px;
                line-height: 100%;
                background: none;
                padding-left: 12px;
                transition: all 0.1s linear;
                word-wrap: break-word;
                margin-bottom: 11px;

                &:before {
                    content: "";
                    display: block;
                    width: 5px;
                    height: 5px;
                    background: $blue;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 4px;
                    left: 0;

                }

                &:hover{
                    text-shadow: 0px 0px 5px rgba(0,168,222,0.9);
                    color: #444444;
                    font-weight: bold;
                }
            }

            @include respond-to(lg){
                padding-left: 16px;

            }
        }
    }
}