.swiper-pagination {
  display: none;
}

.swiper-viewport {
  margin: 0 !important;
}

#common-home .swiper-pager {
  display: none;
}

#common-home .main-news-banner {
  display: block;
  width: auto;
  bottom: 12px;
  left: 20px;
}