#blog-category,
#blog-post,
#blog-blog {
  padding-top: 61px;

  @include respond-to(md){
    padding-top: 0;
  }
}
.blog-menu {
  display: flex;
  flex-direction: column;
  padding-right: 32px;
  border-right: 1px solid #e4e4e4;
  padding-bottom: 55px;
  padding-top: 25px;

  & .li {
    display: block;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 10px;

    & a {
      text-decoration: none;
      font-size: 14px;
      line-height: 38px;
      color: $main;
      padding: 16px 3px;
      display: flex;
      align-items: center;

      &.active {
        color: black;
      }

      & .image {
        width: 60px;
        display: flex;
        align-items: center;
        display: block;
      }
    }
  }

  & .li:last-child {
    border: none;
  }
}

#blog-toggler{
  background: none;
  border:none;
  border-bottom: 1px solid $gray;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 6px;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2300A8DE' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  background-color: #fff;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color:$main;

  & .image{
    margin-right: 17px;
  }

  display: none;
  @include respond-to(md){
    display: flex;
  }
}

.blog-title {
  & h1 {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $main !important;
    margin-bottom: 39px !important;
    margin-top: 0 !important;
    text-align: center;
  }
}

.blog-post {
  padding-bottom: 272px;
  
  @include respond-to(md){
    padding-top: 50px;
  }

  & h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: $main;
    margin-bottom: 45px;
    text-align: center;
  }

  & .image {
    margin-bottom: 62px;
  }

  & .description {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $main;
  }
}
#blog-blog {
  & h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: $main;
    margin-bottom: 45px;
    text-align: center;
  }
}

.blog-category-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;

  & h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: $main;
    margin-bottom: 0;
  }

  & a {
    display: block;
    border-bottom: 1px dashed $blue;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $main;
    padding: 5px 0;
    text-decoration: none;

    &:hover,
    &:focus {
      border-bottom: 1px dashed transparent;
      text-decoration: none;
    }
  }
}
.blog-category {
  margin-bottom: 64px;
  @include respond-to(md){
    margin-bottom: 20px;
  }
}
.blog-category-posts {
  & .post-thumb {
    background: #ffffff;
    box-shadow: 0px 11px 18px rgba(80, 121, 152, 0.13);

    & .post-info {
      padding: 17px 9px 20px 12px;
    }

    & h3 {
      & a {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: $main;
        text-decoration: none;
      }
    }

    & .image {
      margin-bottom: 0 !important;
    }

    & .details-link {
      padding-top: 15px;
      display: flex;
      justify-content: flex-start;
      & a {
        display: flex;
        border-bottom: 1px dashed $blue;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: $main;
        text-decoration: none;
        padding-bottom: 3px;
      }
    }

    @include respond-to(md) {
      margin-bottom: 39px;
    }
  }
}

.blog-navigation {
  position: relative;

  @include respond-to(md) {
    & .blog-menu {
      margin: 0;
      padding: 0;
      border:none;
      background: #fff;
      position: absolute;
      width: 100%;
      top:100%;
      left: 12px;
      right: 12px;
      z-index:11;
      height: 0;
      overflow:hidden;
      transition:all 0.3s linear;
      flex-direction: column;
      display: flex;
      opacity: 0;


      &.show{
        height: 500%;
        opacity:1;
      }

      & .li {
        width: 100%;
        flex-shrink: 0;

        & a {
          font-size: 14px;
          line-height: 16px;
          padding: 11px 6px;

          & .image {
            width: auto;
            margin-right: 12px;

            & img {
              width: 21px;
            }
          }
        }
      }


    }
  }
}
