/* breadcrumb */
.breadcrumb {
  margin-bottom: 65px;

  @include respond-to(lg) {
    margin-top: 53px;
    margin-bottom: 27px;
  }

  & li {
    & a {
      font-size: 16px;
      line-height: 19px;
      color: $dark-gray;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding-right: 30px;

      &:before {
        content: " ";
        display: block;
        width: 7px;
        height: 7px;
        background: $dark-gray;
        border-radius: 50%;
        margin-right: 13px;
      }
    }
  }

  & li:first-child {
    & a {
      &:before {
        display: none;
      }
    }
  }

  & li:last-child {
    & a {
      color: $main;
      font-weight: 600;

      &:before {
        background: $red;
      }
    }
  }
}