footer {
  font-weight: 500;

  & .footer-social {
    background: $black;
    padding: 49px 0 60px;
    color: #fff;
    font-weight: 500;
  }

  & .social-header {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 36px;

    @include respond-to(md) {
      text-align: left !important;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }

  & .socials-list {
    @include respond-to(md) {
      flex-direction: row !important;
      justify-content: space-between;

      & .social-header {
        margin-bottom: 0;
      }
    }

    @include respond-to(sm) {
      flex-direction: column !important;
      justify-content: flex-start;
      align-items: flex-start !important;

      & .social-header {
        margin-bottom: 25px;
      }
    }
  }
}

.subscribe-form {
  position: relative;

  & input {
    width: 100%;
    height: 79px;
    border: 2px solid #fff;
    padding-left: 35px;
    padding-right: 90px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    background: none;
    color: #fff;

    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid #fff;
      background: none;
      color: #fff;
    }

    @include respond-to(md) {
      height: 69px;
    }
  }

  & button {
    background: none !important;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;

    &:focus {
      background: none;
      border: none;
      box-shadow: none;
    }
  }

  @include respond-to(md) {
    margin-bottom: 39px;
  }
}

.footer-socials-nav {
  gap: 36px;
  align-items: center !important;

  @include respond-to(lg) {
    & img {
      width: 40px;
      height: 40px;
    }
  }

  @include respond-to(md) {
    gap: 30px;

    & img {
      height: 22px;
    }
  }
}

.footer-contacts {
  padding-top: 60px;
  padding-bottom: 154px;

  @include respond-to(md) {
    padding-bottom: 10px;
  }
}

.footer-header {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main;
  border-bottom: 1px solid $blue;
  padding-bottom: 15px;
  margin-bottom: 54px;

  @include respond-to(md) {
    margin-bottom: 22px;
  }
}

.footer-info {
  color: $main;

  @include respond-to(lg) {
    margin-bottom: 49px;
  }
}

.footer-phones {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 19px;
}

.footer-email,
.footer-open {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 19px;
}

.footer-open {
  margin-bottom: 0 !important;
}

.footer-payments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 35px;

  @media (max-width: 1330px) {
    gap: 15px;
  }
}

.footer-payment {
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 115px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to(lg) {
    width: 79px;
    height: 49px;

    & img {
      max-width: 70%;
    }
  }
}

.footer-info-payments {
  @include respond-to(lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $blue;
    padding-top: 15px;

    & .footer-header {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  @include respond-to(md) {
    display: block;
    border: none;

    & .footer-header {
      border-bottom: 1px solid $blue;
      padding-bottom: 16px;
      margin-bottom: 24px;
    }
  }

  & .footer-payments {
    @include respond-to(lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
    }

    @include respond-to(sm) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
    }
  }
}

.footer-download {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  & a {
    font-size: 16px;
    line-height: 24px;
    color: $blue;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  & .footer-download-icon {
    & img {
      max-width: 17px;
      margin-right: 15px;
    }
  }
}