.homepage-why {
    border: 1px solid #CBCBCB;
    padding: 20px 35px;
    max-width: 999px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 111px;
    margin-bottom: 123px;
}

.why-block {
    max-width: 207px;
    flex-basis: 207px;
}

.why-icon {
    margin-bottom: 29px;
}

.why-text {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $main;
    text-align: center;
}