#information-information {
  font-size: 18px;
  line-height: 21px;
  color: $main;
  padding-top: 61px;
  padding-bottom: 202px;

  @include respond-to(md){
    padding-top: 0px;
  }

  & h1 {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: $main;
    padding: 0;
    margin: 0;
    margin-bottom: 56px;

    @include respond-to(md){
      margin-bottom: 30px;
    }
  }

  & h2 {
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: $main;
    text-align: center;
  }

  & .swiper-viewport {
    margin-top: 99px !important;

    @include respond-to(md){
      margin-top: 50px !important;
    }
  }

  @include respond-to(md) {
    padding-bottom: 99px;
  }
}