#product-search {
    padding-top: 55px;

    & h1 {
        text-align: center;
        font-size: 30px;
        line-height: 35px;
        text-transform: uppercase;
        color: $main;
        padding: 0;
        margin: 0;
        margin-bottom: 45px;

        @include respond-to(md) {
            margin-bottom: 58px;
        }
    }

    & .product-grid {
        margin-bottom: 140px;
    }

    & .search-form {
        margin-bottom: 45px;
    }
}