@import "./parts/variables.scss";
@import "./parts/header/header.scss";
@import "./parts/breadscrumb.scss";
@import "./parts/footer.scss";
@import "./parts/controls/button.scss";
@import "./parts/controls/input.scss";
@import "./parts/controls/list.scss";
@import "./parts/controls/forms.scss";
@import "./parts/controls/labels.scss";
@import "./parts/controls/checkbox.scss";
@import "./parts/product/product.scss";
@import "./parts/product/cart.scss";
@import "./parts/product/catalog.scss";
@import "./parts/plugins/carousel.scss";
@import "./parts/pagination.scss";
@import "./parts/alert.scss";
@import "./parts/fonts.scss";

@import "./parts/modules/categories.scss";
@import "./parts/modules/banner.scss";
@import "./parts/modules/featured.scss";
@import "./parts/modules/html.scss";
@import "./parts/modules/swiper.scss";

@import "./parts/homepage.scss";
@import "./parts/information.scss";
@import "./parts/blog.scss";
@import "./parts/about.scss";
@import "./parts/contact.scss";
@import "./parts/delivery.scss";
@import "./parts/checkout.scss";
@import "./parts/search.scss";
@import "./parts/success.scss";

body,
html {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  color: $main;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}

.fa {
  font-size: 14px;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10.2px;
}

a {
  color: #23a1d1;
}

a:hover {
  text-decoration: none;
}

legend {
  font-size: 18px;
  padding: 7px 0px;
}

span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
  display: inline;
}

.nav-tabs {
  margin-bottom: 15px;
}

#common-home,
#error-not-found {
  padding-top: 55px;

  @include respond-to(md){
    padding-top: 0;
  }
}

.no-border {
  border: none;
}

@media (max-width: 1399.98px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 100%;
    width: 100%;
  }
}